.paypal-store-alert {
    position: absolute;
    right: 5px;
    top: 60px;
    width: 350px;
}
#thank-you {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    left: 0;
    top: 0;
    z-index: 1000;
    padding: 50px;
}

#thank-you .alert {
    width: 100%;
}
